<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/nicolaspauly/Documents/GitHub/Breite/Breite Sans/NFP 10-3-14.otf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>806</integer>
			<key>y</key>
			<integer>510</integer>
		</dict>
		<dict>
			<key>angle</key>
			<real>180.0</real>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>634</integer>
			<key>y</key>
			<integer>-12</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>-196</integer>
			<key>y</key>
			<integer>950</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>Deva Diacritics</string>
			<key>x</key>
			<integer>-100</integer>
			<key>y</key>
			<integer>850</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>Deva Diactrics low</string>
			<key>x</key>
			<integer>-100</integer>
			<key>y</key>
			<integer>90</integer>
		</dict>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>mask</string>
	</array>
	<key>com.typemytype.robofont.mask.layerShow</key>
	<true/>
	<key>com.typemytype.robofont.mask.layerStrokeColor</key>
	<array>
		<real>1.0</real>
		<real>0.75</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>space</string>
				<string>exclam</string>
				<string>quotedbl</string>
				<string>numbersign</string>
				<string>dollar</string>
				<string>percent</string>
				<string>ampersand</string>
				<string>quotesingle</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>asterisk</string>
				<string>plus</string>
				<string>comma</string>
				<string>hyphen</string>
				<string>period</string>
				<string>slash</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>less</string>
				<string>equal</string>
				<string>greater</string>
				<string>question</string>
				<string>at</string>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>bracketleft</string>
				<string>backslash</string>
				<string>bracketright</string>
				<string>asciicircum</string>
				<string>underscore</string>
				<string>grave</string>
				<string>a</string>
				<string>b</string>
				<string>c</string>
				<string>d</string>
				<string>e</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>i.dot</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>o</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>t</string>
				<string>u</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>z</string>
				<string>braceleft</string>
				<string>bar</string>
				<string>braceright</string>
				<string>asciitilde</string>
				<string>exclamdown</string>
				<string>cent</string>
				<string>sterling</string>
				<string>currency</string>
				<string>yen</string>
				<string>brokenbar</string>
				<string>section</string>
				<string>dieresis</string>
				<string>copyright</string>
				<string>ordfeminine</string>
				<string>guillemotleft</string>
				<string>logicalnot</string>
				<string>registered</string>
				<string>macron</string>
				<string>degree</string>
				<string>plusminus</string>
				<string>acute</string>
				<string>paragraph</string>
				<string>periodcentered</string>
				<string>cedilla</string>
				<string>ordmasculine</string>
				<string>guillemotright</string>
				<string>onequarter</string>
				<string>onehalf</string>
				<string>threequarters</string>
				<string>questiondown</string>
				<string>Agrave</string>
				<string>Aacute</string>
				<string>Acircumflex</string>
				<string>Atilde</string>
				<string>Adieresis</string>
				<string>Aring</string>
				<string>AE</string>
				<string>Ccedilla</string>
				<string>Egrave</string>
				<string>Eacute</string>
				<string>Ecircumflex</string>
				<string>Edieresis</string>
				<string>Igrave</string>
				<string>Iacute</string>
				<string>Icircumflex</string>
				<string>Idieresis</string>
				<string>Eth</string>
				<string>Ntilde</string>
				<string>Ograve</string>
				<string>Oacute</string>
				<string>Ocircumflex</string>
				<string>Otilde</string>
				<string>Odieresis</string>
				<string>multiply</string>
				<string>Oslash</string>
				<string>Ugrave</string>
				<string>Uacute</string>
				<string>Ucircumflex</string>
				<string>Udieresis</string>
				<string>Yacute</string>
				<string>Thorn</string>
				<string>germandbls</string>
				<string>agrave</string>
				<string>aacute</string>
				<string>acircumflex</string>
				<string>atilde</string>
				<string>adieresis</string>
				<string>aring</string>
				<string>ae</string>
				<string>ccedilla</string>
				<string>egrave</string>
				<string>eacute</string>
				<string>ecircumflex</string>
				<string>edieresis</string>
				<string>igrave</string>
				<string>iacute</string>
				<string>icircumflex</string>
				<string>idieresis</string>
				<string>eth</string>
				<string>ntilde</string>
				<string>ograve</string>
				<string>oacute</string>
				<string>ocircumflex</string>
				<string>otilde</string>
				<string>odieresis</string>
				<string>divide</string>
				<string>oslash</string>
				<string>ugrave</string>
				<string>uacute</string>
				<string>ucircumflex</string>
				<string>udieresis</string>
				<string>yacute</string>
				<string>thorn</string>
				<string>ydieresis</string>
				<string>Amacron</string>
				<string>amacron</string>
				<string>Abreve</string>
				<string>abreve</string>
				<string>Aogonek</string>
				<string>aogonek</string>
				<string>Cacute</string>
				<string>cacute</string>
				<string>Ccircumflex</string>
				<string>ccircumflex</string>
				<string>Cdotaccent</string>
				<string>cdotaccent</string>
				<string>Ccaron</string>
				<string>ccaron</string>
				<string>Dcaron</string>
				<string>dcaron</string>
				<string>Dcroat</string>
				<string>dcroat</string>
				<string>Emacron</string>
				<string>emacron</string>
				<string>Edotaccent</string>
				<string>edotaccent</string>
				<string>Eogonek</string>
				<string>eogonek</string>
				<string>Ecaron</string>
				<string>ecaron</string>
				<string>Gcircumflex</string>
				<string>gcircumflex</string>
				<string>Gbreve</string>
				<string>gbreve</string>
				<string>Gdotaccent</string>
				<string>gdotaccent</string>
				<string>Gcommaaccent</string>
				<string>gcommaaccent</string>
				<string>Hcircumflex</string>
				<string>hcircumflex</string>
				<string>Imacron</string>
				<string>imacron</string>
				<string>Iogonek</string>
				<string>iogonek</string>
				<string>Idotaccent</string>
				<string>dotlessi</string>
				<string>IJ</string>
				<string>ij</string>
				<string>Jcircumflex</string>
				<string>Kcommaaccent</string>
				<string>kcommaaccent</string>
				<string>Lacute</string>
				<string>lacute</string>
				<string>Lcommaaccent</string>
				<string>lcommaaccent</string>
				<string>Lcaron</string>
				<string>lcaron</string>
				<string>Lslash</string>
				<string>lslash</string>
				<string>Nacute</string>
				<string>nacute</string>
				<string>Ncommaaccent</string>
				<string>ncommaaccent</string>
				<string>Ncaron</string>
				<string>ncaron</string>
				<string>Omacron</string>
				<string>omacron</string>
				<string>Ohungarumlaut</string>
				<string>ohungarumlaut</string>
				<string>OE</string>
				<string>oe</string>
				<string>Racute</string>
				<string>racute</string>
				<string>Rcommaaccent</string>
				<string>rcommaaccent</string>
				<string>Rcaron</string>
				<string>rcaron</string>
				<string>Sacute</string>
				<string>sacute</string>
				<string>Scircumflex</string>
				<string>scircumflex</string>
				<string>Scedilla</string>
				<string>scedilla</string>
				<string>Scaron</string>
				<string>scaron</string>
				<string>Tcaron</string>
				<string>tcaron</string>
				<string>Umacron</string>
				<string>umacron</string>
				<string>Uring</string>
				<string>uring</string>
				<string>Uhungarumlaut</string>
				<string>uhungarumlaut</string>
				<string>Uogonek</string>
				<string>uogonek</string>
				<string>Wcircumflex</string>
				<string>wcircumflex</string>
				<string>Ycircumflex</string>
				<string>ycircumflex</string>
				<string>Ydieresis</string>
				<string>Zacute</string>
				<string>zacute</string>
				<string>Zdotaccent</string>
				<string>zdotaccent</string>
				<string>Zcaron</string>
				<string>zcaron</string>
				<string>florin</string>
				<string>Scommaaccent</string>
				<string>scommaaccent</string>
				<string>circumflex</string>
				<string>caron</string>
				<string>breve</string>
				<string>dotaccent</string>
				<string>ring</string>
				<string>ogonek</string>
				<string>tilde</string>
				<string>hungarumlaut</string>
				<string>mu</string>
				<string>pi</string>
				<string>afii10023</string>
				<string>afii10051</string>
				<string>afii10052</string>
				<string>afii10053</string>
				<string>afii10054</string>
				<string>afii10055</string>
				<string>afii10056</string>
				<string>afii10057</string>
				<string>afii10058</string>
				<string>afii10059</string>
				<string>afii10060</string>
				<string>afii10061</string>
				<string>afii10062</string>
				<string>afii10145</string>
				<string>afii10017</string>
				<string>afii10018</string>
				<string>afii10019</string>
				<string>afii10020</string>
				<string>afii10021</string>
				<string>afii10022</string>
				<string>afii10024</string>
				<string>afii10025</string>
				<string>afii10026</string>
				<string>afii10027</string>
				<string>afii10028</string>
				<string>afii10029</string>
				<string>afii10030</string>
				<string>afii10031</string>
				<string>afii10032</string>
				<string>afii10033</string>
				<string>afii10034</string>
				<string>afii10035</string>
				<string>afii10036</string>
				<string>afii10037</string>
				<string>afii10038</string>
				<string>afii10039</string>
				<string>afii10040</string>
				<string>afii10041</string>
				<string>afii10042</string>
				<string>afii10043</string>
				<string>afii10044</string>
				<string>afii10045</string>
				<string>afii10046</string>
				<string>afii10047</string>
				<string>afii10048</string>
				<string>afii10049</string>
				<string>afii10065</string>
				<string>afii10066</string>
				<string>afii10067</string>
				<string>afii10068</string>
				<string>afii10069</string>
				<string>afii10070</string>
				<string>afii10072</string>
				<string>afii10073</string>
				<string>afii10074</string>
				<string>afii10075</string>
				<string>afii10076</string>
				<string>afii10077</string>
				<string>afii10078</string>
				<string>afii10079</string>
				<string>afii10080</string>
				<string>afii10081</string>
				<string>afii10082</string>
				<string>afii10083</string>
				<string>afii10084</string>
				<string>afii10085</string>
				<string>afii10086</string>
				<string>afii10087</string>
				<string>afii10088</string>
				<string>afii10089</string>
				<string>afii10090</string>
				<string>afii10091</string>
				<string>afii10092</string>
				<string>afii10093</string>
				<string>afii10094</string>
				<string>afii10095</string>
				<string>afii10096</string>
				<string>afii10097</string>
				<string>afii10071</string>
				<string>afii10099</string>
				<string>afii10100</string>
				<string>afii10101</string>
				<string>afii10102</string>
				<string>afii10103</string>
				<string>afii10104</string>
				<string>afii10105</string>
				<string>afii10106</string>
				<string>afii10107</string>
				<string>afii10108</string>
				<string>afii10109</string>
				<string>afii10110</string>
				<string>afii10193</string>
				<string>afii10146</string>
				<string>afii10194</string>
				<string>afii10147</string>
				<string>afii10195</string>
				<string>afii10148</string>
				<string>afii10196</string>
				<string>afii10050</string>
				<string>afii10098</string>
				<string>uni0900</string>
				<string>uni0901</string>
				<string>uni0902</string>
				<string>uni0903</string>
				<string>uni0904</string>
				<string>uni0905</string>
				<string>uni0906</string>
				<string>uni0907</string>
				<string>uni0909</string>
				<string>uni090A</string>
				<string>uni090B</string>
				<string>uni090D</string>
				<string>uni090E</string>
				<string>uni090F</string>
				<string>uni0910</string>
				<string>uni0911</string>
				<string>uni0912</string>
				<string>uni0913</string>
				<string>uni0914</string>
				<string>uni0915</string>
				<string>uni0916</string>
				<string>uni0917</string>
				<string>uni0918</string>
				<string>uni0919</string>
				<string>uni091A</string>
				<string>uni091B</string>
				<string>uni091C</string>
				<string>uni091D</string>
				<string>uni091F</string>
				<string>uni0921</string>
				<string>uni0922</string>
				<string>uni0923</string>
				<string>uni0924</string>
				<string>uni0925</string>
				<string>uni0926</string>
				<string>uni0927</string>
				<string>uni0928</string>
				<string>uni0929</string>
				<string>uni092A</string>
				<string>uni092B</string>
				<string>uni092C</string>
				<string>uni092D</string>
				<string>uni092E</string>
				<string>uni092F</string>
				<string>uni0930</string>
				<string>uni0931</string>
				<string>uni0932</string>
				<string>uni0932.alt</string>
				<string>uni0935</string>
				<string>uni0937</string>
				<string>uni0938</string>
				<string>uni0939</string>
				<string>uni093A</string>
				<string>uni093B</string>
				<string>uni093E</string>
				<string>uni093F</string>
				<string>uni0945</string>
				<string>uni0946</string>
				<string>uni0947</string>
				<string>uni0948</string>
				<string>uni0949</string>
				<string>uni094A</string>
				<string>uni094B</string>
				<string>uni094C</string>
				<string>uni094E</string>
				<string>uni0951</string>
				<string>uni0956</string>
				<string>uni0957</string>
				<string>uni0958</string>
				<string>uni0959</string>
				<string>uni095A</string>
				<string>uni095B</string>
				<string>uni095C</string>
				<string>uni095D</string>
				<string>uni095E</string>
				<string>uni095F</string>
				<string>uni0964</string>
				<string>uni0965</string>
				<string>uni0966</string>
				<string>uni0967</string>
				<string>uni0968</string>
				<string>uni0969</string>
				<string>uni096A</string>
				<string>uni096B</string>
				<string>uni096C</string>
				<string>uni096D</string>
				<string>uni096E</string>
				<string>uni096F</string>
				<string>uni0972</string>
				<string>uni0973</string>
				<string>uni0974</string>
				<string>uni0976</string>
				<string>uni0977</string>
				<string>uni097A</string>
				<string>Wgrave</string>
				<string>wgrave</string>
				<string>Wacute</string>
				<string>wacute</string>
				<string>Wdieresis</string>
				<string>wdieresis</string>
				<string>Ygrave</string>
				<string>ygrave</string>
				<string>endash</string>
				<string>emdash</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>quotesinglbase</string>
				<string>quotedblleft</string>
				<string>quotedblright</string>
				<string>quotedblbase</string>
				<string>dagger</string>
				<string>daggerdbl</string>
				<string>bullet</string>
				<string>ellipsis</string>
				<string>perthousand</string>
				<string>guilsinglleft</string>
				<string>guilsinglright</string>
				<string>fraction</string>
				<string>Euro</string>
				<string>afii61352</string>
				<string>trademark</string>
				<string>estimated</string>
				<string>partialdiff</string>
				<string>product</string>
				<string>summation</string>
				<string>minus</string>
				<string>radical</string>
				<string>infinity</string>
				<string>integral</string>
				<string>approxequal</string>
				<string>notequal</string>
				<string>lessequal</string>
				<string>greaterequal</string>
				<string>lozenge</string>
				<string>dottedcircle</string>
				<string>uni0920</string>
				<string>f_f</string>
				<string>fi</string>
				<string>fl</string>
				<string>f_f_i</string>
				<string>f_f_l</string>
				<string>uni097F</string>
				<string>uni0908</string>
				<string>uni090C</string>
				<string>uni0940</string>
				<string>uni0941</string>
				<string>uni0942</string>
				<string>uni0943</string>
				<string>uni0944</string>
				<string>component_10</string>
				<string>uni094D</string>
				<string>uni0955</string>
				<string>commaaccent</string>
				<string>uni093C</string>
				<string>uni093D</string>
				<string>uni0933</string>
				<string>uni097E</string>
				<string>uni097D</string>
				<string>uni097C</string>
				<string>uni097B</string>
				<string>boucle</string>
				<string>uni0979</string>
				<string>uni0978</string>
				<string>uni0975</string>
				<string>uni0971</string>
				<string>uni0970</string>
				<string>commaaccent.alt</string>
				<string>uni0934</string>
				<string>uni0936</string>
				<string>component_9</string>
				<string>component_8</string>
				<string>component_7</string>
				<string>component_6</string>
				<string>uni094F</string>
				<string>uni0952</string>
				<string>uni091E</string>
				<string>uni0962</string>
				<string>uni0963</string>
				<string>uni0960</string>
				<string>uni0961</string>
				<string>uni0953</string>
				<string>uni0950</string>
				<string>uni0954</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>com.typesupply.MetricsMachine4.groupColors</key>
	<dict>
		<key>@MMK_L_left_lc_bar</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_left_lc_round</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_right_lc_bar</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_right_lc_round</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
	</dict>
	<key>public.glyphOrder</key>
	<array>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>i.dot</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>ordfeminine</string>
		<string>guillemotleft</string>
		<string>logicalnot</string>
		<string>registered</string>
		<string>macron</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>acute</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>cedilla</string>
		<string>ordmasculine</string>
		<string>guillemotright</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>questiondown</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>eth</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>divide</string>
		<string>oslash</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>thorn</string>
		<string>ydieresis</string>
		<string>Amacron</string>
		<string>amacron</string>
		<string>Abreve</string>
		<string>abreve</string>
		<string>Aogonek</string>
		<string>aogonek</string>
		<string>Cacute</string>
		<string>cacute</string>
		<string>Ccircumflex</string>
		<string>ccircumflex</string>
		<string>Cdotaccent</string>
		<string>cdotaccent</string>
		<string>Ccaron</string>
		<string>ccaron</string>
		<string>Dcaron</string>
		<string>dcaron</string>
		<string>Dcroat</string>
		<string>dcroat</string>
		<string>Emacron</string>
		<string>emacron</string>
		<string>Edotaccent</string>
		<string>edotaccent</string>
		<string>Eogonek</string>
		<string>eogonek</string>
		<string>Ecaron</string>
		<string>ecaron</string>
		<string>Gcircumflex</string>
		<string>gcircumflex</string>
		<string>Gbreve</string>
		<string>gbreve</string>
		<string>Gdotaccent</string>
		<string>gdotaccent</string>
		<string>Gcommaaccent</string>
		<string>gcommaaccent</string>
		<string>Hcircumflex</string>
		<string>hcircumflex</string>
		<string>Imacron</string>
		<string>imacron</string>
		<string>Iogonek</string>
		<string>iogonek</string>
		<string>Idotaccent</string>
		<string>dotlessi</string>
		<string>IJ</string>
		<string>ij</string>
		<string>Jcircumflex</string>
		<string>Kcommaaccent</string>
		<string>kcommaaccent</string>
		<string>Lacute</string>
		<string>lacute</string>
		<string>Lcommaaccent</string>
		<string>lcommaaccent</string>
		<string>Lcaron</string>
		<string>lcaron</string>
		<string>Lslash</string>
		<string>lslash</string>
		<string>Nacute</string>
		<string>nacute</string>
		<string>Ncommaaccent</string>
		<string>ncommaaccent</string>
		<string>Ncaron</string>
		<string>ncaron</string>
		<string>Omacron</string>
		<string>omacron</string>
		<string>Ohungarumlaut</string>
		<string>ohungarumlaut</string>
		<string>OE</string>
		<string>oe</string>
		<string>Racute</string>
		<string>racute</string>
		<string>Rcommaaccent</string>
		<string>rcommaaccent</string>
		<string>Rcaron</string>
		<string>rcaron</string>
		<string>Sacute</string>
		<string>sacute</string>
		<string>Scircumflex</string>
		<string>scircumflex</string>
		<string>Scedilla</string>
		<string>scedilla</string>
		<string>Scaron</string>
		<string>scaron</string>
		<string>Tcaron</string>
		<string>tcaron</string>
		<string>Umacron</string>
		<string>umacron</string>
		<string>Uring</string>
		<string>uring</string>
		<string>Uhungarumlaut</string>
		<string>uhungarumlaut</string>
		<string>Uogonek</string>
		<string>uogonek</string>
		<string>Wcircumflex</string>
		<string>wcircumflex</string>
		<string>Ycircumflex</string>
		<string>ycircumflex</string>
		<string>Ydieresis</string>
		<string>Zacute</string>
		<string>zacute</string>
		<string>Zdotaccent</string>
		<string>zdotaccent</string>
		<string>Zcaron</string>
		<string>zcaron</string>
		<string>florin</string>
		<string>Scommaaccent</string>
		<string>scommaaccent</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>mu</string>
		<string>pi</string>
		<string>afii10023</string>
		<string>afii10051</string>
		<string>afii10052</string>
		<string>afii10053</string>
		<string>afii10054</string>
		<string>afii10055</string>
		<string>afii10056</string>
		<string>afii10057</string>
		<string>afii10058</string>
		<string>afii10059</string>
		<string>afii10060</string>
		<string>afii10061</string>
		<string>afii10062</string>
		<string>afii10145</string>
		<string>afii10017</string>
		<string>afii10018</string>
		<string>afii10019</string>
		<string>afii10020</string>
		<string>afii10021</string>
		<string>afii10022</string>
		<string>afii10024</string>
		<string>afii10025</string>
		<string>afii10026</string>
		<string>afii10027</string>
		<string>afii10028</string>
		<string>afii10029</string>
		<string>afii10030</string>
		<string>afii10031</string>
		<string>afii10032</string>
		<string>afii10033</string>
		<string>afii10034</string>
		<string>afii10035</string>
		<string>afii10036</string>
		<string>afii10037</string>
		<string>afii10038</string>
		<string>afii10039</string>
		<string>afii10040</string>
		<string>afii10041</string>
		<string>afii10042</string>
		<string>afii10043</string>
		<string>afii10044</string>
		<string>afii10045</string>
		<string>afii10046</string>
		<string>afii10047</string>
		<string>afii10048</string>
		<string>afii10049</string>
		<string>afii10065</string>
		<string>afii10066</string>
		<string>afii10067</string>
		<string>afii10068</string>
		<string>afii10069</string>
		<string>afii10070</string>
		<string>afii10072</string>
		<string>afii10073</string>
		<string>afii10074</string>
		<string>afii10075</string>
		<string>afii10076</string>
		<string>afii10077</string>
		<string>afii10078</string>
		<string>afii10079</string>
		<string>afii10080</string>
		<string>afii10081</string>
		<string>afii10082</string>
		<string>afii10083</string>
		<string>afii10084</string>
		<string>afii10085</string>
		<string>afii10086</string>
		<string>afii10087</string>
		<string>afii10088</string>
		<string>afii10089</string>
		<string>afii10090</string>
		<string>afii10091</string>
		<string>afii10092</string>
		<string>afii10093</string>
		<string>afii10094</string>
		<string>afii10095</string>
		<string>afii10096</string>
		<string>afii10097</string>
		<string>afii10071</string>
		<string>afii10099</string>
		<string>afii10100</string>
		<string>afii10101</string>
		<string>afii10102</string>
		<string>afii10103</string>
		<string>afii10104</string>
		<string>afii10105</string>
		<string>afii10106</string>
		<string>afii10107</string>
		<string>afii10108</string>
		<string>afii10109</string>
		<string>afii10110</string>
		<string>afii10193</string>
		<string>afii10146</string>
		<string>afii10194</string>
		<string>afii10147</string>
		<string>afii10195</string>
		<string>afii10148</string>
		<string>afii10196</string>
		<string>afii10050</string>
		<string>afii10098</string>
		<string>uni0900</string>
		<string>uni0901</string>
		<string>uni0902</string>
		<string>uni0903</string>
		<string>uni0904</string>
		<string>uni0905</string>
		<string>uni0906</string>
		<string>uni0907</string>
		<string>uni0909</string>
		<string>uni090A</string>
		<string>uni090B</string>
		<string>uni090D</string>
		<string>uni090E</string>
		<string>uni090F</string>
		<string>uni0910</string>
		<string>uni0911</string>
		<string>uni0912</string>
		<string>uni0913</string>
		<string>uni0914</string>
		<string>uni0915</string>
		<string>uni0916</string>
		<string>uni0917</string>
		<string>uni0918</string>
		<string>uni0919</string>
		<string>uni091A</string>
		<string>uni091B</string>
		<string>uni091C</string>
		<string>uni091D</string>
		<string>uni091F</string>
		<string>uni0921</string>
		<string>uni0922</string>
		<string>uni0923</string>
		<string>uni0924</string>
		<string>uni0925</string>
		<string>uni0926</string>
		<string>uni0927</string>
		<string>uni0928</string>
		<string>uni0929</string>
		<string>uni092A</string>
		<string>uni092B</string>
		<string>uni092C</string>
		<string>uni092D</string>
		<string>uni092E</string>
		<string>uni092F</string>
		<string>uni0930</string>
		<string>uni0931</string>
		<string>uni0932</string>
		<string>uni0932.alt</string>
		<string>uni0935</string>
		<string>uni0937</string>
		<string>uni0938</string>
		<string>uni0939</string>
		<string>uni093A</string>
		<string>uni093B</string>
		<string>uni093E</string>
		<string>uni093F</string>
		<string>uni0945</string>
		<string>uni0946</string>
		<string>uni0947</string>
		<string>uni0948</string>
		<string>uni0949</string>
		<string>uni094A</string>
		<string>uni094B</string>
		<string>uni094C</string>
		<string>uni094E</string>
		<string>uni0951</string>
		<string>uni0956</string>
		<string>uni0957</string>
		<string>uni0958</string>
		<string>uni0959</string>
		<string>uni095A</string>
		<string>uni095B</string>
		<string>uni095C</string>
		<string>uni095D</string>
		<string>uni095E</string>
		<string>uni095F</string>
		<string>uni0964</string>
		<string>uni0965</string>
		<string>uni0966</string>
		<string>uni0967</string>
		<string>uni0968</string>
		<string>uni0969</string>
		<string>uni096A</string>
		<string>uni096B</string>
		<string>uni096C</string>
		<string>uni096D</string>
		<string>uni096E</string>
		<string>uni096F</string>
		<string>uni0972</string>
		<string>uni0973</string>
		<string>uni0974</string>
		<string>uni0976</string>
		<string>uni0977</string>
		<string>uni097A</string>
		<string>Wgrave</string>
		<string>wgrave</string>
		<string>Wacute</string>
		<string>wacute</string>
		<string>Wdieresis</string>
		<string>wdieresis</string>
		<string>Ygrave</string>
		<string>ygrave</string>
		<string>endash</string>
		<string>emdash</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotedblbase</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>perthousand</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>fraction</string>
		<string>Euro</string>
		<string>afii61352</string>
		<string>trademark</string>
		<string>estimated</string>
		<string>partialdiff</string>
		<string>product</string>
		<string>summation</string>
		<string>minus</string>
		<string>radical</string>
		<string>infinity</string>
		<string>integral</string>
		<string>approxequal</string>
		<string>notequal</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>lozenge</string>
		<string>dottedcircle</string>
		<string>uni0920</string>
		<string>f_f</string>
		<string>fi</string>
		<string>fl</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>uni097F</string>
		<string>uni0908</string>
		<string>uni090C</string>
		<string>uni0940</string>
		<string>uni0941</string>
		<string>uni0942</string>
		<string>uni0943</string>
		<string>uni0944</string>
		<string>component_10</string>
		<string>uni094D</string>
		<string>uni0955</string>
		<string>commaaccent</string>
		<string>uni093C</string>
		<string>uni093D</string>
		<string>uni0933</string>
		<string>uni097E</string>
		<string>uni097D</string>
		<string>uni097C</string>
		<string>uni097B</string>
		<string>boucle</string>
		<string>uni0979</string>
		<string>uni0978</string>
		<string>uni0975</string>
		<string>uni0971</string>
		<string>uni0970</string>
		<string>commaaccent.alt</string>
		<string>uni0934</string>
		<string>uni0936</string>
		<string>component_9</string>
		<string>component_8</string>
		<string>component_7</string>
		<string>component_6</string>
		<string>uni094F</string>
		<string>uni0952</string>
		<string>uni091E</string>
		<string>uni0962</string>
		<string>uni0963</string>
		<string>uni0960</string>
		<string>uni0961</string>
		<string>uni0953</string>
		<string>uni0950</string>
		<string>uni0954</string>
	</array>
</dict>
</plist>
